<div class="widgetBody dateTimeWidget">
    <div>
        <span class='datetimeLabel'>Current local time</span>
        <div id="localTimeStamp" class='datetimeDate'></div>
    </div>
    <div>
        <span class='datetimeLabel'>Current site time</span>
        <div id="siteTimeStamp" class='datetimeDate'></div>
    </div>
</div>

