<div class="widgetBody dateTimeWidgetContainer">
    <div class="localDatetimeContainer hidden">
        <span class='datetimeLabel'>{{ currentLocalTime }}</span>
        <div id="localTimeStamp" class='datetimeDate'></div>
    </div>
    <div class="siteDatetimeContainer hidden">
        <span class='datetimeLabel'>{{ currentSiteTime }}</span>
        <div id="siteTimeStamp" class='datetimeDate'></div>
    </div>
</div>
<style>
    .dateTimeWidgetContainer .datetimeLabel {
        color: black;
    }

    .dateTimeWidgetContainer .datetimeDate {
        margin: 10px auto;
        font-weight: bold;
        font-size: 20px;
        width: fit-content;
    }
</style>
